body {
    background-color: #1B232B;
}

h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 40px;
    color: #6D597A;
}

ul.list1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #B56576;
}

ul.list2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #E56B6F;
}

p.first {
    font-family: 'Comfortaa', sans-serif;
    font-size: 28px;
    color: #B56576;
}

p.second {
    font-family: 'Comfortaa', sans-serif;
    font-size: 28px;
    color: #E56B6F;
}

p.third {
    font-family: 'Comfortaa', sans-serif;
    font-size: 28px;
    color: #EAAC8B;
}

p.subtext {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #B56576;
}

p.subtext2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #E56B6F;
}

p.subtext3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #EAAC8B;
}

