body {
    background-color: #1B232B;
}
h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 26px;
    color: #B56576;
}
p {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: ##E56B6F;
}

a:link {
    color: #E56B6F;
}

a:visited {
  color: #E56B6F;
}

/* mouse over link */
a:hover {
  color: #EAAC8B;
}
.image {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}